src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<!--
  maven-project-complete
  Application deployed to jenkins server to show
  CI w/ automated deployment

  Deployment note(s): 
    - Must use a unique http port ot ensure tests and deployment
      don't conflict with other student's applications.
-->

<mule 
  xmlns="http://www.mulesoft.org/schema/mule/core" 
  xmlns:db="http://www.mulesoft.org/schema/mule/db" 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
  xmlns:http="http://www.mulesoft.org/schema/mule/http" 
  xmlns:json="http://www.mulesoft.org/schema/mule/json" 
  xmlns:spring="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

  <!-- base config for http entry point -->
  <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081"/>

  <!-- connection to derby in-memory database -->
  <db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true"/>

  <!-- creates db on startup via afterPropertiesSet() method -->
  <spring:beans>
    <spring:bean id="Bean" name="Bean" class="com.mulesoft.training.Database"/>
  </spring:beans>

  <!-- returns static message: Hello Maven -->
  <flow name="mavenFlow">
    <http:listener config-ref="HTTP_Listener_Configuration" path="/maven"/>
    <set-payload value="#['Hello Maven']"/>
  </flow>

  <!-- queries db and returns result set in json -->
  <flow name="retrieveFlights">
    <http:listener config-ref="HTTP_Listener_Configuration" path="/flights"/>
    <db:select config-ref="Derby_Configuration">
      <db:parameterized-query><![CDATA[SELECT * FROM flights]]></db:parameterized-query>
    </db:select>
    <set-property propertyName="content-type" value="application/json"/>
    <json:object-to-json-transformer/>
  </flow>

</mule>
